<h1>This is the Lol Champion UI</h1>
<button class="btn btn-outline-primary" routerLink="/lol-shipper">Add Champion</button>
<button class="btn btn-outline-primary" routerLink="/lol-list">List Champions</button>
<!-- Use this in the AppComponent template -->
<div class="container">
  <h2>Lol Champions</h2>
  <router-outlet></router-outlet>
</div>