<!-- loadChampions list table, it hides when there is no Champions -->
<div *ngIf="champions.length !== 0">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th scope="col">Difficulty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let champion of champions">
          <td>{{ champion.id }}</td>
          <td>{{ champion.name }}</td>
          <td>{{ champion.role }}</td>
          <td>{{ champion.difficulty }}</td>
          <td><img class="thumbnail" src="{{ champion.imageUrl }}" /></td>
          <td>
            <a
              [routerLink]="['/lol-edit/', champion.id]"
              class="btn btn-primary btn-sm float-right"
              >Edit</a
            >&nbsp;
            <a
              [routerLink]=""
              (click)="deleteLol(champion.id)"
              class="btn btn-danger btn-sm float-right"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
